<%- include('layouts/header'); -%>
      <div class="starter-template">
        <h1><%= form.title %></h1>
        <br />
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="/forms">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fields: <%= form.title %></li>
          </ol>
        </nav>
        <br />
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Item
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a href="/fields/text/create_text/<%= form.id %>" class="dropdown-item">Short Text</a>
          <a href="/fields/radio/create_radio/<%= form.id %>" class="dropdown-item">Radio</a>
          <a href="#" class="dropdown-item">Checkbox</a>
          <a href="#" class="dropdown-item">Dropdown</a>
          <a href="#" class="dropdown-item">HTML Area</a>
        </div>
      </div>
        <br />
        <% if (!fields.length) { %>
          <div class="text-center">There are currently no items in this form.</div>
        <% } else { %>
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Title</th>
              <th scope="col">Type</th>
              <th scope="col">Required</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="sortable">
            <% fields.forEach((field) =>  { %>
            <tr id="sort_<%= field.id %>">
              <td><%= field.title %></td>
              <td><%= field.type %></td>
              <td><%= field.required %></td>
              <td><a href="/fields/<%= field.type %>/update_<%= field.type %>/<%= field.id %>">modify</a></td>
              <% if (field.type == "radio") { %>
                <td><a href="/fields/radio/radios/<%= field.id %>">options</a></td>
              <% } else { %>
                <td>&nbsp;</td>
              <% } %>
              <td><a onclick="return confirm('Are you sure you want to delete this field?')" href="/forms/delete_field/<%= field.id %>">delete</a></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
      </div>
<%- include('layouts/footer'); -%>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $("#sortable").sortable({
    cursor: "move",
    update: function (event, ui) {
      var Ids = $("#sortable").sortable("serialize");
      $.post("/forms/update_sorting", Ids);
    }
  });
});
</script>